[Package]
version: 2
depends: 
incremental: False

[Product]
type: localboot
id: vivaldi
name: Vivaldi
description: A Browser for Our Friends (Jón S. von Tetzchner)
 CSG recommended replacement for Opera
 WebSite: https://vivaldi.com/
 changelog: https://vivaldi.com/blog/vivaldi-powers-up-the-start-page-and-adds-docked-dev-tools/?hl=de&version=1.10.867.38
advice: Maintainer: Jens Boettge <boettge@mpi-halle.mpg.de>
Organization: MPIMSP
Release date: 2017-06-23
version: 1.10.867.42
priority: 0
licenseRequired: False
productClasses: web & mail
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: install_architecture
multivalue: False
editable: False
description: which architecture (32/64 bit) should be installed
values: ["32 bit", "64 bit", "sysnative"]
default: ["64 bit"]

[ProductProperty]
type: unicode
name: default_language
multivalue: False
editable: False
description: application default language (currently unused!)
values: ["de", "en-GB", "en-US"]
default: ["en-US"]

[Changelog]
vivaldi 1.10.867.42-2 release:
  * product update to 1.10.867.42
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-06-23 14:33:07 +0200

vivaldi 1.10.867.38-2 release:
  * product update to 1.10.867.38
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-06-15 15:51:40 +0200

vivaldi 1.9.818.49-2 release:
  * product update to 1.9.818.49
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-05-11 14:55:27 +0200

vivaldi 1.9.818.44-2 release:
  * product update to 1.9.818.44
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-04-28 10:35:11 +0200

vivaldi 1.8.770.56-2 release:
  * product update to 1.8.770.56
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-04-21 08:09:16 +0200

vivaldi 1.8.770.54-2 release:
  * product update to 1.8.770.54
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-04-04 15:29:01 +0200

vivaldi 1.8.770.50-2 release:
  * product update to 1.8.770.50
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-03-30 11:56:49 +0200

vivaldi 1.7.735.46-2 release:
  * meassure time for install/uninstall
  * fixed: writing install date/time to registry
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-02-22 12:00:25 +0100

vivaldi 1.7.735.46-1 release:
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-02-17 12:09:14 +0100

vivaldi 1.7.735.46-1 testing:
  * release update
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-02-10 08:08:40 +0100

vivaldi 1.6.689.40-1 testing:
  * initial package
  -- J. Boettge <boettge@mpi-halle.mpg.de>  2017-01-03 17:00:06 +0100






















